/* Cells that can be interacted with */
.table-drag-select td.cell-enabled {
    background-color: #fff6fb;
}

/* Cells that cannot be interacted with */
.table-drag-select td.cell-disabled {
  /* Put yer css here */

}

/* Cells that have been selected */
.table-drag-select td.cell-selected {
  background-color: #e3c1f9;
}

/* Cells that are in the process of being selected */
.table-drag-select td.cell-being-selected {
  background-color: #ffbbfd;
}

/* Cells in first row */
.table-drag-select tr:first-child td {
  /* Remove empty space at top of table */
  height: 1rem;
}

/* Cells in first column */
.table-drag-select td:first-child {
  /* Consume less whitespace */
  // width: 3rem;
}

//   table {
//     table-layout: fixed ;
//     width: 50% ;
//   }

tbody{
  border-collapse: separate;
  border-spacing: 0 16px;
}

td {
  // padding: 0.5rem 0rem;
  text-align: center;
  width: 4.5rem;
  height: 3rem;
  

  border: 0.25rem solid transparent;
  background-clip: padding-box;
  border-radius: 4px;
  transition: all 0.1s ease 0s;

}

td:hover{
  box-shadow: 0 0 1px rgb(211, 211, 211);
}
